body {
    font-family: "Outfit", sans-serif;
}

/* Prevent Perfect Scrollbar from enlarging on hover */

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-x:hover>.ps__thumb-x {
    width: 6px !important;
}

.ps__rail-y,
.ps__rail-x {
    background: transparent !important;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
    width: 2.5rem;
    height: 2.5rem;
}

.main-container {
    transition: all 0.2s ease-in-out;
}

.aside {
    transition: all 0.2s ease-in-out;
    /* height: 100dvh !important; */
    height: 100vh !important;
    overflow-y: hidden;
}

.aside .sidebar-menu {
    padding-bottom: 80px;
}

.aside-open {
    width: 260px;
}

.aside-open~.main-container {
    margin-left: 260px;
}

.aside-open .logo-sm {
    display: none;
}

.aside-open .sidebar-menu-link i {
    margin-right: 0.5rem;
}

.aside-closed {
    width: 90px;
}

.aside-closed~.main-container {
    margin-left: 90px;
}

.aside-closed .logo {
    display: none;
}

.aside-closed .logo-sm {
    display: inline;
}

.aside-closed .sidebar-menu-link {
    white-space: nowrap;
    justify-content: center;
}

.aside-closed .sidebar-menu-link span {
    display: none;
}

.aside-closed .sidebar-menu-link i {
    font-size: 1.25rem;
    margin-right: 0px;
}

.aside-hovered {
    width: 260px;
}

.aside-hovered .logo {
    display: inline;
}

.aside-hovered .logo-sm {
    display: none;
}

.aside-hovered .sidebar-menu-link {
    justify-content: start;
}

.aside-hovered .sidebar-menu-link span {
    display: inline;
}

.aside-hovered .sidebar-menu-link i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.sidebar-menu-link {
    text-decoration: none;
    color: var(--text-body-emphasis);
    display: flex;
    width: 100%;
    border-radius: var(--bs-border-radius-sm);
}

.sidebar-menu-link:hover {
    background: var(--bs-secondary-bg);
}

.overlay {
    opacity: .5;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.aside-mobile {
    transform: translateX(-100%);
    width: 260px;
}

.aside-mobile.active {
    transform: translateX(0%);
}

.aside-mobile~.main-container {
    margin-left: 0px;
}

.search-input:focus {
    box-shadow: none !important;
}

@media (max-width:992px) {
    .logo-sm {
        display: none;
    }
}

/* footer */
@media (min-width: 992px) {
    .sticky-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
}

/* notification menu */

.notification-menu {
    position: absolute;
    top: 3.4rem;
    right: 0;
    max-width: 400px;
    width: 90vw;
    min-width: 300px;
    display: none;
}

@media (max-width: 768px) {
    .notification-menu {
        position: fixed;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        width: 90vw;
        min-width: unset;
    }
}

.unread-dot {
    font-size: 11px !important;
}

.notification-scroller {
    height: auto;
    max-height: 350px;
}

.notification-item:hover {
    background-color: var(--bs-secondary-bg) !important;
}

/* signup form */
.signup-form {
    min-height: 100dvh;
}