[data-bs-theme="dark"] .text-body-tertiary {
    color: var(--bs-dark) !important;
}

body {
    font-family: "Outfit", sans-serif;
}

/* Prevent Perfect Scrollbar from enlarging on hover */

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-x:hover>.ps__thumb-x {
    width: 6px !important;
}

.ps__rail-y,
.ps__rail-x {
    background: transparent !important;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
    width: 2.5rem;
    height: 2.5rem;
}

.main-container {
    transition: all 0.2s ease-in-out;
}

.aside {
    transition: all 0.2s ease-in-out;
    height: 100dvh !important;
    overflow-y: hidden;
}

.aside .sidebar-menu {
    padding-bottom: 80px;
}

.aside-open {
    width: 260px;
}

.aside-open~.main-container {
    margin-left: 260px;
}

.aside-open .logo-sm {
    display: none;
}

.aside-open .sidebar-menu-link i {
    margin-right: 0.5rem;
}

.aside-closed {
    width: 90px;
}

.aside-closed~.main-container {
    margin-left: 90px;
}

.aside-closed .logo {
    display: none;
}

.aside-closed .logo-sm {
    display: inline;
}

.aside-closed .sidebar-menu-link {
    white-space: nowrap;
    justify-content: center;
}

.aside-closed .sidebar-menu-link span {
    display: none;
}

.aside-closed .sidebar-menu-link i {
    font-size: 1.25rem;
    margin-right: 0px;
}

.aside-hovered {
    width: 260px;
}

.aside-hovered .logo {
    display: inline;
}

.aside-hovered .logo-sm {
    display: none;
}

.aside-hovered .sidebar-menu-link {
    justify-content: start;
}

.aside-hovered .sidebar-menu-link span {
    display: inline;
}

.aside-hovered .sidebar-menu-link i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.sidebar-menu-link {
    text-decoration: none;
    color: var(--bs-light);
    display: flex;
    width: 100%;
    border-radius: var(--bs-border-radius-sm);
}

.sidebar-menu-link:hover {
    color: var(--bs-dark);
    background: var(--bs-light);
}

.overlay {
    opacity: .5;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

/* footer */
@media (min-width: 992px) {
    .sticky-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
}